.content-greetings {
    margin-top: 4rem;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.content-greetings-name {
    font-size: 3.2rem;
}

.content-greetings-name a {
    color: #FFB742;
    transition: all .5s;
}

.content-greetings-name a:hover {
    color: rgba(255, 255, 255, 0.08);
}

.content-prof {
    font-size: 4.8rem;
}

.content__photo {
    width: 15%;
    margin: 0 auto;
}

@media screen and (max-width: 570px) {
    .content-greetings-name {
        font-size: 2.5rem;
    }

    .content-prof {
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 480px) {
    .content-greetings {
        margin-top: 2rem;
    }

    .content-prof {
        font-size: 3.36rem;
    }
}

@media screen and (max-width: 380px) {
    .content-greetings-name {
        font-size: 2rem;
    }
    .content-prof {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 320px) {
    .content-greetings-name {
        font-size: 1.6rem;
    }
    .content-prof {
        font-size: 2.16rem;
    }
}