.up-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background: #FFB742;
    display: flex;
    justify-content: center;
    align-items: center;
}